@charset "utf-8";
@import "normalize";

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.content {
  background: linear-gradient(#132069, #381E0C);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.content-inner {
  text-align: center;
  background: white;
  margin: 15px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

h1 {
  color: #453333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}
