@charset "utf-8";
@import "normalize";

body {
  background: #f06d06;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

main {
  background: white;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

h1 {
  color: #453333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.twitter {
  margin: 0 auto;
  display: block;
  background: url('/images/twitter.png');
  width: 128px;
  height: 128px;
  text-indent: -9999px;
}
