<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

	<head profile="http://gmpg.org/xfn/11">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Dayta for iPhone</title>
		<meta name="description" content="Track and reflect on your life's data with your iPhone.">
		<meta name="keywords" content="dayta app, dayta, sahil lavingia, iphone, data tracker, progress, habits, dayta for iphone, iphone data" /> 
		<link rel="stylesheet" href="/dayta/style.css" type="text/css" media="screen" />
	</head>
	
	<body>
<div id="banner"><a href="#"><img src="/dayta/banner.png" alt="Available for just $0.99!" /></a></div>

<div id="top-bar">
	<img class="rivets" src="/dayta/rivets.png">
	<img class="rivets-right" src="/dayta/rivets.png">
	<span class="left"><strong>Dayta</strong> for iPhone.</span>
</div>

<div id="wrapper">
	<div id="top-content">
		<div id="info">
			<h1>Dayta for iPhone</h1>
			<div id="under-h1">
			<img src="/dayta/dayta_logo.png" width="120px" height="118px" align="left">
			<p>Dayta is a <strong>wonderful data tracking application</strong> that allows you to track literally everything about you; from your weight, to how many glasses of water you've had today, or even your kill/death ratio in Call of Duty, Dayta can <strong>track it all</strong>.</p>
			</div>
			<a href="http://daytaapp.com/go/"><img src="/dayta/app_store.png" width="402px" height="65px"></a>
			
			<h3>Features:</h3>
			<ul>
				<li>Track and reflect on everything about you.</li>
				<li>Export data through email, along with a nice CSV file.</li>
				<li>Create folders to organize your data.</li>
				<li>Wipe a data log once you're done tracking a piece of data.</li>
				<li>Consolidate data daily (automatically add values within a day together, useful for tracking glasses of water).</li>
			</ul>
			
			<p class="quote">"With Dayta, I can define the metrics that define me and track my personal development over time. It's great for _everything_, covering anything from my daily cappuccino consumption to the number of scientific papers I have published so far."<span> - Leif Singer</span></p>
			<p class="quote">"Great concept. Infinite uses. Love it!"<span> - Dan Palmer</span></p>
		</div>

		<div id="sidebar">
			<div id="iphone">
				<img src="/dayta/iphone.png" alt="iPhone"/>
					<div class="screens">
						<img src="/dayta/screenshots/data_view.png" class="screenshot" style="margin-left: 73px;" width="320px" />
						<img src="/dayta/screenshots/dashboard.png" class="screenshot" style="margin-left: 73px;" width="320px" />
						<img src="/dayta/screenshots/data_options.png" class="screenshot" style="margin-left: 73px;" width="320px" />
						<img src="/dayta/screenshots/data_points.png" class="screenshot" style="margin-left: 73px;" width="320px" />
					</div>
			</div>
		</div>
	</div>
	
	<div id="footer">
		<p class="copyright">You should <a href="http://twitter.com/shl/">follow me on Twitter</a>!</p>
		<p class="other">Copyright &copy; 2010 <a href="http://sahillavingia.com/">Sahil Lavingia</a>.</p>
	</div>

</div>

<script type="text/javascript" src="/dayta/js/jquery.js"></script>
<script type="text/javascript" src="/dayta/js/fade.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.screens').cycle({
		fx: 'fade'
	});
});
</script>

</body>
</html>