<%= erb :head %>
  <div id="box">
    <img src="https://si0.twimg.com/profile_images/2374496291/y9a7z6e8xau88v4t6ovh.png" />
    <h1>Sahil Lavingia<h1>
    <h2>thinks you should go <a href="/">home</a>.</h2>
  </div>
<%= erb :foot %>