<%= erb :head %>
	<div id="box">
		<img src="/me.png" />
		<h1>Sahil Lavingia<h1>
    <h2>Founder <span class="amp">&amp;</span> CEO, <a href="https://gumroad.com/" target="_blank">Gumroad</a></h2>
		<a href="http://twitter.com/shl" id="twitter"><img src="/twitter.png" /></a>
	</div>
<%= erb :foot %>