<%= erb :head %>
	<div id="box">
		<img src="/me.png" />
		<h1>Sahil Lavingia<h1>
		<h2>builds products for fun <span class="amp">&amp;</span> profit</h2>
		<a href="http://twitter.com/shl" id="twitter"><img src="/twitter.png" /></a>
	</div>
<%= erb :foot %>