<%= erb :head %>
	<div id="box">
		<img src="https://si0.twimg.com/profile_images/2374496291/y9a7z6e8xau88v4t6ovh.png" />
		<h1>Sahil Lavingia<h1>
		<h2>builds products for fun <span class="amp">&amp;</span> profit</h2>
		<a href="http://twitter.com/shl" id="twitter"><img src="https://twitter.com/images/resources/twitter-bird-light-bgs.png" /></a>
	</div>
<%= erb :foot %>