---
title: Sahil Lavingia
---

<section>
  <div class="container">
    <ul>
      <a href="https://gumroad.com/">
        <li>
          <h3 class="hidden"><span class="gumroad">Gumroad,</span></h3>
          <h3>Founder <span class="amp">&amp;</span> CEO,</h3>
        </li>
      </a>
      <a href="https://medium.com/@shl/across-the-border-aac60001147e">
        <li>
          <h3 class="hidden"><span class="spec-fic">Speculative Fiction</span>,</h3>
          <h3>Writer,</h3>          
        </li>
      </a>
      <a href="https://instagram.com/shlpaints">
        <li>
          <h3 class="hidden"><span class="painter">Paintings</span></h3>
          <h3>Painter,</h3>          
        </li>
      </a>
      <a href="https://pinterest.com/">
        <li>
          <h3 class="hidden"><span class="pinterest">Pinterest</span>,</h3>
          <h3 class="past">Early employee,</h3>
        </li>
      </a>
      <li class="designer-li">
        <h3 class="hidden"><span class="designer">Designer.</span></h3>
        <h3>Designer.</h3>
      </li>
    </ul>
  </div>
</section>

<script>
  function play() {
    var audio = document.getElementById("audio");
    audio.play();
  }
</script>
<audio id="audio" src="sounds/sahil.wav"></audio>

<footer>
  <div class="container">
    <a href="http://twitter.com/shl" class="twitter"><img src="/images/twitter.png" /></a>
    <a href="mailto:sahil.lavingia@gmail.com" class="email"><img src="/images/email.svg" /></a>
    <h1>Sahil Lavingia <a href="#" class="audio" onclick="play()" title="Play pronounciation">&#x1F508;&#xFE0E;</a></h1>
    <hr />
    <style> .gumroad-follow-form-embed { zoom: 1; } .gumroad-follow-form-embed:before, .gumroad-follow-form-embed:after { display: table; line-height: 0; content: ""; } .gumroad-follow-form-embed:after { clear: both; } .gumroad-follow-form-embed * { margin: 0; border: 0; padding: 0; outline: 0; box-sizing: border-box !important; float: left !important; } .gumroad-follow-form-embed input { border-radius: 4px; border-top-right-radius: 0; border-bottom-right-radius: 0; font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 15px; line-height: 20px; background: #fff; border: 1px solid #ddd; border-right: 0; color: #aaa; padding: 10px; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02); background-position: top right; background-repeat: no-repeat; text-rendering: optimizeLegibility; font-smoothing: antialiased; -webkit-appearance: none; -moz-appearance: caret; width: 50% !important; height: 40px !important; } .gumroad-follow-form-embed button { border-radius: 4px; border-top-left-radius: 0; border-bottom-left-radius: 0; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12); -webkit-transition: all .05s ease-in-out; transition: all .05s ease-in-out; display: inline-block; padding: 11px 15px 12px; cursor: pointer; color: #fff; font-size: 15px; line-height: 100%; font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; background: #000000; border: 1px solid #000000; filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#262626, endColorstr=#000000, GradientType=0)"; background: -webkit-linear-gradient(#262626, #000000); background: linear-gradient(to bottom, #262626, #000000); height: 40px !important; width: 50% !important; } </style> <form action="https://gumroad.com/follow_from_embed_form" class="form gumroad-follow-form-embed" method="post"> <input name="seller_id" type="hidden" value="2614450981218"> <input name="email" placeholder="Your email address" type="email"> <button data-custom-highlight-color="" type="submit">Subscribe to random creative musings</button> </form>
  </div>
</footer>