html {
  font-size: .9rem;
}

html,
body,
input,
button {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Inter, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

h1,
h2,
h3 {
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.amp {
  font-family: Baskerville, Georgia, serif;
  font-style: italic;
}

main {
  padding: 1rem 2rem 0 2rem;
  flex: 1;
  width: 100%;
  max-width: 760px;
  background: white;
  position: relative;
  z-index: 1;
}

.content h2 {
  font-weight: bold;
}

.content h2.item {
  font-weight: normal;
}

.paintings {
  margin-top: 60px;
  background: black;
  padding: 1px 0 60px;
  position: relative;
}

.paintings label {
  color: white;
}

.paintings-border {
  background: black;
  display: block;
  content: "";
  width: 9999px;
  height: 100%;
  position: absolute;
  left: -200%;
  top: 0;
  z-index: -1;
}

.painting {
  max-height: 230px;
  margin-right: 20px;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .4);
}

main.centered-main {
  margin: 0 auto;
}

a {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

.title,
.tiny-title {
  margin: 0;
  padding: 1rem 0 0;
  line-height: 1.15;
  font-size: 2rem;
  color: rgb(41, 41, 41);
  display: inline-block;
  text-decoration: none;
}

.tiny-title {
  position: fixed;
  left: 0;
  top: 0;
  font-size: 1rem;
  padding: 0.5rem;
  z-index: 2;
}

label {
  line-height: 1.5;
  font-size: 1.3rem;
  margin-bottom: 15px;
  display: block;
  color: #666;
  margin-top: 3rem;
}

.item,
input,
button {
  font-size: 3rem;
  line-height: 1;
}

.index-list-of-writings-title {
  font-size: 1.8rem;
}

label + .item {
  margin-top: 0.5rem;
}

.item small {
  color: #aaa;
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: normal;
}

h2 {
  margin-top: 2rem;
}

.border-header {
  background: url("/border.png") bottom center;
  background-size: cover;
  height: 100px;
  width: 100%;
}

.course {
  margin: 60px auto;
}

.course > p {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.course > img {
  margin: 0 auto 60px;
  display: block;
}

.course > h2 {
  font-size: 2rem;
  margin-top: 60px;
}

p,
blockquote,
li {
  margin-top: 2rem;
  font-size: 1.3rem;
  line-height: 1.8;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgb(41, 41, 41);
}

p + h2, h2.bold {
  font-weight: bold;
}

p + ul {
  margin-top: 2rem;
}

li {
  margin-top: 1rem;
}

h2 + p {
  margin-top: 2rem;
}

p a,
li a {
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, .2);
}

li p {
  margin-top: 1rem;
  margin-left: 1rem;
}

blockquote {
  font-style: italic;
  padding-left: 1rem;
  margin: 2rem 0;
  font-size: 1.5rem;
}

.text {
  font-family: Inter, "Helvetica Neue", sans-serif;
  color: white;
  background: black;
  padding: 0.75rem 0.9rem;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  display: inline-block;
  margin: 1rem;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
  position: relative;
  top: 0;
}

.text:hover {
  top: -4px;
  box-shadow: 0 2px 10px rgba(41, 41, 41, 0.05);
}

.text:active {
  top: -1px;
  box-shadow: 0 5px 10px rgba(41, 41, 41, 0.4), 0 10px 30px rgba(41, 41, 41, 0.1);
}

p img {
  max-width: 120%;
  margin: 1rem -10%;
}

p + hr {
  margin-top: 3rem;
}

hr {
  margin: 2rem 10rem;
  border: 1px solid rgb(41, 41, 41);
}

.twitter-tweet {
  margin: 2rem auto !important;
}

input,
button {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  border-radius: 4px;
  height: 56px;
}

input {
  border: 1px solid #aaa;
}

button {
  background: rgb(41, 41, 41);
  color: white;
  border: none;
}

button:hover {
  cursor: pointer;
}

.centered {
  text-align: center;
}

@media (max-width: 600px) {
  html {
    font-size: .75rem;
  }

  main {
    width: 100%;
    padding: 1rem;
  }

  .email {
    content: "@";
    display: block;
    margin-left: 0;
    margin-top: 1rem;
    position: static;
  }

  p {
    font-size: 1.5rem;
  }

  p img {
    max-width: 100%;
    margin: 0;
  }

  label {
    margin-top: 2rem;
  }

  input,
  button,
  .buy-button {
    width: 100%;
  }

  .tiny-title {
    position: static;
    background: rgba(41, 41, 41);
    color: white;
  }

  .course {
    overflow: hidden;
    margin: 0 auto;
    padding: 60px 20px;
  }
}