@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply prose max-w-none bg-white;
    overflow: -moz-scrollbars-none;
  }
}

body::-webkit-scrollbar {
  display: none;
}